:root {
	--maxWidth: 1350px;
    --borderBottom: #d3d3d3
	--white: #ffffff;
	--lightGrey: #eeeeee;
	--medGrey: #c4c4c4;
	--medDarkGrey: #8f8f8f;
	--darkGrey: rgb(49, 49, 49);
	--fontVeryBig: 2.5rem;
	--fontBig: 1.5rem;
	--fontMed: 1.2rem;
	--fontSmall: 1rem;
    --fontVerySmall: 0.8rem;
	--boxShadowDefault: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
	--boxShadowHeavy: 0 5px 8px 2px rgba(0, 0, 0, 0.2);
	--lightGreen: #1fbfb8;
	--darkGreen: #05716c;
	--paleBlue: #1978a5;
	--buttonBlue: #031163;
	--darkBlue: #005577;
	--darkOrange: #ff9839;
	--lightOrange: #ffcc6a;
	--rowColour: #f2f2f2;
	--background: #f0f0f0;
	--cat01: #ff9839;
	--cat02: #f66161;
	--cat03: #8bd6bb;
	--cat04: #c9adf6;
	--cat05: #a0bbf5;
}

* {
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
}

html {
	font-size: 112.5%;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--background);
	overflow-x: hidden;
}
h1 {
	margin-top: 0;
	font-size: 2rem;
	font-weight: 600;
}

h2 {
	margin-top: 0;
	font-size: 1.5rem;
	font-weight: 600;
}

h3 {
	margin-top: 0;
	font-size: 1rem;
	font-weight: 600;
}

h4 {
	margin-bottom: 0.2rem;
}

p {
	font-size: 1rem;
}